extends layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      img(src='https://www.classbike.co/wp-content/uploads/2020/08/ELITE-FORCE.png' style='width: 80px; height: 47px; margin: 0px;')
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menú
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/bicicletas/create') Crear
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#mainmap') Bicicletas
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/api/bicicletas') API
  // Masthead
  header.masthead
    .container.d-flex.h-100.align-items-center
      .mx-auto.text-center
        h1.mx-auto.my-5.text-uppercase Bicicletas
        br
        br
        a.btn.btn-primary.js-scroll-trigger(href='#mainmap') Mapa
  // Nosotros
  section#about.about-section.text-center
    .container
      h2.text-white.mt-0.mb-4 Busca la más cercana
      p.text-white-50
        | Proyecto red_bicicletas BackEnd hecho en.. 
      img(src='https://incycling.com.co/wp-content/uploads/2019/05/y7tjtgnhmmrohbaztop4.png' style='width: 303px; height: 162.27px; margin: 0px;')
  // Projects
  section#projects.projects-section.bg-light
    .container.text-right
      h2.text-black.text-center.mb-4 Ubicación de bicicletas 
      a.btn.btn-primary.js-scroll-trigger(href='/bicicletas') Lista
      a.btn.btn-warning.js-scroll-trigger(href='/bicicletas/create') Agregar
      #mainmap
  // Signup
  section#signup.signup-section
    .container
      .row
        .col-md-10.col-lg-8.mx-auto.text-center
          i.far.fa-paper-plane.fa-2x.mb-2.text-white
          h2.text-white.mb-5 Suscribase para recibir noticias!
          form.form-inline.d-flex
            input#inputEmail.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='email' placeholder='Ingrese su dirección de correo electrónico...')
            button.btn.btn-primary.mx-auto(type='submit') Subscrirse
  // Contact
  section.contact-section.bg-black
    .container
      h2.text-white.mb-5.text-center O puede contactarnos en:
      .row
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              a(href='https://encicla.metropol.gov.co/ ', target='blank')
                 img.logomap(src='https://www.ciclosfera.com/wp-content/uploads/2015/10/encicla-medellin.jpg', style='width: 310px;')
              h4.text-uppercase.m-0 Inspiraccion del proyecto.
              hr.my-4
              .small.text-black-50 EnCicla

        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              a(href='https://www.instagram.com/bitek.co/ ', target='blank')
                 img(src='https://www.flaticon.es/svg/static/icons/svg/174/174855.svg', style='width: 180px;')
              h4.text-uppercase.m-0 Instagram
              hr.my-4
              .small.text-black-50
                a(href='https://www.instagram.com/bitek.co/') @bitek.co

        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              a(href='https://t.me/ThiagoBSV', target='blank')
                 img(src='https://www.flaticon.es/svg/static/icons/svg/2111/2111646.svg', style='width: 180px;')
              h4.text-uppercase.m-0 Telegram
              hr.my-4

      .social.d-flex.justify-content-center
        a.mx-2(href='#!')
          i.fab.fa-twitter
        a.mx-2(href='#!')
          i.fab.fa-facebook-f
        a.mx-2(href='#!')
          i.fab.fa-github
  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    h2.text-white-50 Tu Bici!
    .container Copyright &copy; Thiago 2020
  
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
  
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  
  // Core theme JS
  script(src='javascripts/scripts.js')
  script(src='javascripts/map.js')