extends ../layout

block content
  .masthead-usuario-create
    .container(style='padding-top: 140px;')
      .row.justify-content-md-center(style='padding-top: 30px;')
        .col-md-4.col-sm-6.col-12
          if info && info.message 
            div.alert.alert-danger=info.message 
          h2.text-center Crea tu Bici
          p.text-center Visualiza todas las Biciletas que hacen parte de nuestra manada

          form(action="/bicicletas/create" method='post')
            .form-group
              input#id.form-control.text-center(type="text" name='id' placeholder='ID Bici')
            .form-group
              input#color.form-control.text-center(type="text" name='color' placeholder='Color de la Bici')
            .form-group
              input#modelo.form-control.text-center(type="text" name='modelo' placeholder='Modelo de Bici')
            p.text-center UBICACION
            .form-group
              input#ubicacion1.form-control.text-center(type="text" name='lat' placeholder='Latitud')
            .form-group
              input#ubicacion2.form-control.text-center(type="text" name='long' placeholder='Longitud')
            
            
            br
            br
            input.btn.btn-info.btn-block(type='submit' value='Guardar')
            a.btn.btn-danger.btn-block(href='/Bicicletas') Volver
            br
            br
    br
    br
    br
    br
    br

