extends ../layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top')
      img(src='https://static.wixstatic.com/media/7ed10f_6aaa83ebeff44bbb9e3006836b80e82b~mv2.png' style='width: 140px; height: 64px; margin: 31.4px 0px;')
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menú
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/') volver
        
  // Masthead
  header.mastheadBici
    .container.d-flex.h-100.align-items-center
      .mx-auto.text-center
           img(src='https://userscontent2.emaze.com/images/b89b1801-ee6c-4f70-9005-0b3286a76ca5/9f76ece3a53ac2ad15a5708eb181d488.png' style='width: 203px; height: 150.27px; margin: 0px;')

           h1.mx-auto.my-5.text-uppercase EnCicla
           h2.text-white-50.mx-auto.mt-2.mb-5 Sistema gratuito de bicicletas de la cuidad de Medellín
           a.btn.btn-primary.js-scroll-trigger(href='#about') Bicicletas
  // Nosotros
  section#about.about-section.text-center
    .container
      h2.text-white.mt-0.mb-4 Busca la más cercana.
      
          img.img-fluid(src='https://www.pinclipart.com/picdir/big/178-1787141_recuerda-que-tienes-una-hora-para-devolver-la.png' alt='')
    // Projects
    section.bg-light
     

     table.table-responsive
                 thead
                 tr
                 th(scope='col') Id
                 th(scope='col') Color
                 th(scope='col') Modelo
                 th(scope='col') Ubicación (Latitud, Longitud)
                 th(scope='col')
                  form.ml-3(method='get' action='/bicicletas/create')
                   button.link-button(type='submit' name='submit_param' value='submit_value' class='btn-primary')= 'Nueva bicicleta'

                 tbody
                  each bici in bicis
                    tr
                    td(scope='row')= bici.id
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion[0] + ', ' + bici.ubicacion[1]
                    td 
                        form.inline(method='get' action='bicicletas/' + bici.id )
                            input(type='hidden' name='id' value=bici.id)
                            button.link-button.btn(type='submit', name='submit_param', value='submit_value')
                             img(width='20', height='20', src='https://www.flaticon.es/svg/static/icons/svg/709/709724.svg')

                    td 
                        form.inline(method='get' action='bicicletas/' + bici.id + '/update')
                            input(type='hidden' name='id' value=bici.id)
                            button.link-button.btn(type='submit', name='submit_param', value='submit_value')
                             img(width='20', height='20', src='https://www.flaticon.es/svg/static/icons/svg/3601/3601242.svg')

                    td
                        form.inline(method='post' action='bicicletas/' + bici.id + '/delete')
                            input(type='hidden' name='id' value=bici.id)
                            button.link-button.btn(type='submit', name='submit_param', value='submit_value')
                             img(width='20', height='20', src='https://www.flaticon.es/svg/static/icons/svg/709/709519.svg')

    
    
  // Signup
  footer.footer.bg-black.small.text-center.text-white-50
    h2.text-white-50 nice!
    .container Copyright &copy; Your Website 2020
  
  // Bootstrap core JS
  script(src='https://static.wixstatic.com/media/7ed10f_6aaa83ebeff44bbb9e3006836b80e82b~mv2.png/v1/fill/w_240,h_104,al_c,q_85,usm_0.66_1.00_0.01/7ed10f_6aaa83ebeff44bbb9e3006836b80e82b~mv2.webp')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
  
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  
  // Core theme JS
  script(src='javascripts/scripts.js')
  script(src='javascripts/map.js')