extends ../layout

block content     
    br
    br
    h2 Bicicleta ID: #{bici.id}
    img(src="https://incycling.com.co/wp-content/uploads/2019/05/y7tjtgnhmmrohbaztop4.png", style="width: 303px; height: 162.27px; margin: 0px;")
    br  
    form(action=`/bicicletas/${bici.id}` method='get')
      ul 
        li Color: #{bici.color}
        br
        li Modelo: #{bici.modelo}
        br
        li Latitud: #{bici.ubicacion[0]}
        br
        li Longitud: #{bici.ubicacion[1]} 
    
    form.inline.btn.btn-danger(method='get' action='../bicicletas/' + bici.id + '/update')
                            input(type='hidden' name='id' value=bici.id)
                            button.link-button.btn(type='submit', name='submit_param', value='submit_value')
                             img(width='20', height='20', src='https://www.flaticon.es/svg/static/icons/svg/3601/3601242.svg')
    
    a.btn.btn-danger(href='/Bicicletas') Volver
    