extends ../layout

block content
    
    br
    br
    h1 Modificar bicicleta:
    br  
    form(action=`/bicicletas/${bici.id}/update` method='post')
        label(for='id') ID:
        input#id(type="text" name='id' value=bici.id)
        br
        label(for='color') Color:
        input#color(type="text" name='color' value=bici.color)
        br
        label(for='modelo') Modelo:
        input#modelo(type="text" name='modelo' value=bici.modelo)
        br
        label(for='lat') Latitud:
        input#ubicacion1(type="text" name='lat' value=bici.ubicacion[0])
        br
        label(for='long') Longitud:
        input#ubicacion2(type="text" name='long' value=bici.ubicacion[1])
        br
        br
        input.btn.btn-info(type='submit' value='Modificar')
        a.btn.btn-danger(href='/Bicicletas') Volver